In [3]:
a = ['Syed','Asim','Ali','Shah']#List of strings
n = [1,2,3,4,5,6,7,8,9,]#List of integers
f = [5.6,7.54,3.456,6.097]#List of floating numbers
m = ['ali', 1, 9.32,True,False,"123"]#Mix List

In [4]:
s=['asd','adaswe','fwef','faef']
s#printing the whole list

['asd', 'adaswe', 'fwef', 'faef']

In [5]:
c1="Karachi"
c2="Islamabad"
c3="Faisalabad"
c4="Lahore"
c1

'Karachi'

In [1]:
c=['Karachi','Islamabad','Faisalabad','Lahore']
c.reverse()
c

['Lahore', 'Faisalabad', 'Islamabad', 'Karachi']

In [7]:
c=['Karachi','Islamabad','Faisalabad','Lahore']
len(c)#checking the length of the list

4

In [8]:
print(c[1])#accessing the list elements
print(s[2])

Islamabad
fwef

In [9]:
c

['Karachi', 'Islamabad', 'Faisalabad', 'Lahore']

In [10]:
c.append("Multan")#append function adds the object in the last of the list

In [11]:
c

['Karachi', 'Islamabad', 'Faisalabad', 'Lahore', 'Multan']

In [12]:
c.insert(3,"Mianwali")#insert function adds the object at any index of list

In [13]:
c

['Karachi', 'Islamabad', 'Faisalabad', 'Mianwali', 'Lahore', 'Multan']

In [14]:
c.extend(['Quetta','Peshawar'])#the extend function can add more than one object in the list

In [15]:
c

['Karachi',
 'Islamabad',
 'Faisalabad',
 'Mianwali',
 'Lahore',
 'Multan',
 'Quetta',
 'Peshawar']

In [16]:
c.append('Islamabad')

In [17]:
print(c.count('Islamabad'))#count function counts how many times given value is repeated in list
c.count('Karachi')

2

1

In [18]:
c.index('Quetta')#index funtion tells at which index given value is

6

In [19]:
cn=c.copy()#copy function make a copy of list and assign it in another list         #copy by value
cn2=c                                                                               #copy by reference
#in copy by reference if we add an element in 'c' then it will automatically add in 'cn2'
c.clear()#remove all items from list

In [20]:
c

[]

In [21]:
cn

['Karachi',
 'Islamabad',
 'Faisalabad',
 'Mianwali',
 'Lahore',
 'Multan',
 'Quetta',
 'Peshawar',
 'Islamabad']

In [22]:
del cn[3]#del is used to remove an object from given index in list #del is not a function its a statement

In [23]:
cn

['Karachi',
 'Islamabad',
 'Faisalabad',
 'Lahore',
 'Multan',
 'Quetta',
 'Peshawar',
 'Islamabad']

In [24]:
cn.remove("Quetta")#remove function remove/delete a value/object from list

In [25]:
cn

['Karachi',
 'Islamabad',
 'Faisalabad',
 'Lahore',
 'Multan',
 'Peshawar',
 'Islamabad']

In [26]:
re=cn.pop()#pop function is used to remove an object from list and to assign this object to a variable
print(f"The popped city from list is {re}")
print(f"The remaining list is {cn}")

The popped city from list is Islamabad
The remaining list is ['Karachi', 'Islamabad', 'Faisalabad', 'Lahore', 'Multan', 'Peshawar']

In [27]:
ra=cn.pop(3)#popping using index

In [28]:
ra

'Lahore'

In [29]:
cn

['Karachi', 'Islamabad', 'Faisalabad', 'Multan', 'Peshawar']

In [30]:
cn.sort()#sort function sorts the elements of string's elements list in alphabetical order
cn

['Faisalabad', 'Islamabad', 'Karachi', 'Multan', 'Peshawar']

In [31]:
cn.sort(reverse=True)#sort function can also sort the elements of string's elements list in reverse alphabetical order
cn

['Peshawar', 'Multan', 'Karachi', 'Islamabad', 'Faisalabad']

In [32]:
f

[5.6, 7.54, 3.456, 6.097]

In [33]:
f.sort()
f

[3.456, 5.6, 6.097, 7.54]

In [34]:
f.sort(reverse=True)
f

[7.54, 6.097, 5.6, 3.456]

In [35]:
m

['ali', 1, 9.32, True, False, '123']

In [36]:
m.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [37]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
n.reverse()#reverse function print the objects of list in the reverse order in which they are currently present
n

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
n.reverse()
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
n.sort(reverse=True)
n

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
n.sort()
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]